{% extends 'base.html.twig' %}


{% block body %}

{% for profil in profils %}

<br>    
<div class="jumbotron">
<b>Prenom :</b> {{profil.prenom}} <br> <b>Nom :</b> {{profil.nom}} <br> <b>Email :</b> {{profil.email}}
<br> <b>Adresse :</b> {{profil.adresse}} <br> <b>Numéro de téléphone :</b> {{profil.numerotel}}
<br> <b>Situation scolaire :</b> {{profil.situation_scolaire}} <br> <b>Parent/élève :</b> {{profil.roles}}
</div>

{% endfor %}

{% endblock %}  